<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace = 패키지 역할. member.하고 타고 들어가도록 해도 된다. -->
<!-- select / insert / delete등 만들면 되고, id를 설정해 member.(id)로 사용가능. -->
<!-- id > 작업 이름 resultType > 리턴타입 -->
<mapper namespace="member">
	<select id = "detail" resultType="java.util.HashMap">
		select * from member m, membership ms where m.id = ms.id
	</select>
	<select id = "detailOne" resultType="java.util.HashMap" parameterType="java.lang.String">
		select * from member m, membership ms where m.id = ms.id and m.id = #{id}
	</select>
	<select id = "rangelog" resultType="java.util.HashMap" parameterType="java.util.HashMap">
	<![CDATA[select * from recharge where cdate >= to_date(#{start}) and cdate <= to_date(#{end})]]>
	</select>
	<insert id = "join" parameterType="pojo.Members">
		insert into member values(#{id},#{pass},#{name},sysdate)
	</insert>
	<insert id = "join2" parameterType = "java.lang.String">
		insert into membership values(#{id},1,100)
	</insert>
	<select id = "login" resultType="java.util.HashMap" parameterType = "java.util.HashMap">
		select * from member where id = #{id} and pass = #{pass}
	</select>
	<insert id = "keyin" parameterType="java.util.HashMap">
		insert into memberkey values(#{id},#{email},#{key})
	</insert>
	<select id = "keycheck" resultType="java.util.HashMap" parameterType = "java.util.HashMap">
		select * from memberkey where id = #{id} and key = #{key}
	</select>
</mapper>