<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace = 패키지 역할. member.하고 타고 들어가도록 해도 된다. -->
<!-- select / insert / delete등 만들면 되고, id를 설정해 member.(id)로 사용가능. -->
<!-- id > 작업 이름 resultType > 리턴타입 -->
<mapper namespace="review">
	<select resultType="review.model.Review" id="readAll"> 
		select * from review order by writedate desc 
	</select>
	<insert id="insert" parameterType="pojo.Review"> 
		insert into review values(review_seq.nextval, #{writer }, #{memo }, 0, sysdate) 
	</insert>
	<update id="upGood" parameterType="java.lang.Integer">
		update review set good=good+1 where num=#{num} 
	</update>
	<select id="pageList" parameterType="java.util.HashMap" resultType="review.model.Review" >
		<![CDATA[select temp.* from
		(select rownum rn, r.* from review r order by num desc) temp
		where temp.rn >=#{start} and temp.rn <=#{end}]]>
	</select>
	<select id="totalCount" resultType="java.lang.Integer">
		select count(*) from review
	</select>
</mapper>